# Python Introduction

In [2]:
print("Hello, Universe!")

Hello, Universe!

# Python Syntax

In [3]:
#Python Identation
if 10 > 5:
    print("10 is Greater")

10 is Greater

In [11]:
if 5 > 2:
    print("Five is greater than two!")
print("Five is greater than two!")

if 5 > 2:
    print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!
Five is greater than two!
Five is greater than two!

In [12]:
#Python Variables
x = 12
y = "Hello, Universe!"
print(x,y)

12 Hello, Universe!

# Python Comments

In [14]:
#This is a comment
#written in
#more than just one line
"""This is a comment
written in
more than just one line """
'''
1
2
3
'''
print("Hello, Universe!")

Hello, Universe!

# Python Variables

In [16]:
#Create variables
x = 4       # x is of type int
x = "Rohi" # x is now of type str
print(x)

Rohi

In [19]:
#Casting
x = str(10)    # x will be '10'
y = int(10)    # y will be 10
z = float(10)  # z will be 10.0
a = bool(1)    # a will be True
print(x,y,z,a)

10 10 10.0 True

In [23]:
#Get the type
x = 5
y = "Rohi" #same as
y = 'Rohi'
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [24]:
#Case sensitive
a = 'Rohi'
A = 100
print(a,A)

Rohi 100

In [27]:
#Variable names
myvar1 = "Batman"
my_var = "Batman" #snake case
_my_var = "Batman"
myVar = "Batman" #camel case
MYVAR = "Batman"
MyVar = "Batman" #pascal case
print(myvar1,my_var,_my_var,myVar,MYVAR,MyVar)

Batman Batman Batman Batman Batman Batman

In [29]:
#Assign Multiple Values
x, y, z = "Orange", "Banana", "Cherry"
a = b = c = "Mango"
print(x,y,z,b)

Orange Banana Cherry Mango

In [30]:
#Unpack a Collection
furniture = ["Table", "Char", "Sofa"]
x, y, z = furniture
print(x,y,z)

Table Char Sofa

In [32]:
#Output Variables
x = "Universe is "
y = "solution"
z =  x + y
a= 5
b = 10
print(a + b)
print(z)

15
Universe is solution

In [37]:
x = "Great"

def Myfunc():
    #global x
    x = "fantastic"
    print("God is " + x)

Myfunc()

print("God is " + x)

God is fantastic
God is Great

# Python Data Types

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

# Python Numbers

In [40]:
x = 1    # int
y = 2.8  # 35e3, 5E4  float
z = 1j   # complex
print(type(x),type(y),type(z))

<class 'int'> <class 'float'> <class 'complex'>

In [46]:
#Random Number
import random
print(random.randrange(1, 100))

66

# Python Strings

In [48]:
#Multiline Strings
a = """pytho is 
programming 
languange"""
print(a)

pytho is
programming
languange

In [49]:
#Strings are Arrays
a = "Hello, Universe!"
print(a[7])

U

In [50]:
#Looping Through a String
for x in "BATMAN":
    print(x)

B
A
T
M
A
N

In [51]:
#String Length
a = "Hello, Universe!"
print(len(a))

16

In [57]:
#Check String
'''txt = "The best things in life are free!"
print("free" in txt)
print("expensive" not in txt)'''
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [60]:
#Slicing Strings
b = "Hello, Universe!"
print(b[1:5])
print(b[:5])
print(b[7:])
print(b[-5:-2])

ello
Hello
Universe!
ers

In [68]:
#Modify Strings
a= "Hello, Universe!"
b="   Hello, Universe!  "
print(a.upper())
print(a.lower())
print(b.strip()) # removes whitespaces
print(a.replace("Hello", "Hye")) #replace string
print(a.split(",")) #split string

HELLO, UNIVERSE!
hello, universe!
Hello, Universe!
Hye, Universe!
['Hello', ' Universe!']

In [70]:
# String Concatenation
a = "Hello"
b = "Universe"
c = a + " " + b
print(c)

Hello Universe

In [73]:
#String Format
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))
'''quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))'''

I want 3 pieces of item 567 for 49.95 dollars.

In [75]:
#Escape Characters
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

# Python Booleans

In [80]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

True
True
True
False
False
False
False
False
False
False

In [81]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [84]:
x = 200
print(isinstance(x, int))

True

# Python Operators

Python divides the operators in the following groups:

Arithmetic operators

Assignment operators

Comparison operators

Logical operators

Identity operators

Membership operators

Bitwise operators

In [1]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

# Python Lists

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

In [2]:
#list constructer
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

Python Collections (Arrays)

here are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.

Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

Set is a collection which is unordered, unchangeable, and unindexed. No duplicate members.

Dictionary is a collection which is ordered* and changeable. No duplicate members.

In [4]:
#insert list
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [5]:
#append
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [6]:
#extend list
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [7]:
#remove specified item
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [11]:
#remove specified index
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

#removes last item
#thislist = ["apple", "banana", "cherry"]
#thislist.pop()
#print(thislist)

['apple', 'cherry']

In [13]:
#delete item in list
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

#delete list
thislist = ["apple", "banana", "cherry"]
del thislist

['banana', 'cherry']

In [14]:
#clears list items
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [1]:
#loop through a list
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [2]:
#Loop Through the Index Numbers
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

In [3]:
#Using a While Loop
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

apple
banana
cherry

In [6]:
#Looping Using List Comprehension
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

# List Comprehension

In [7]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [1]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

newlist = [expression for item in iterable if condition == True]

In [2]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x != "apple"]

print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [3]:
#No if statement
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits]

print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [4]:
#use range function
newlist = [x for x in range(10)]

print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x.upper() for x in fruits]

print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [6]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x if x != "banana" else "orange" for x in fruits ]

print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [7]:
#Python - Sort Lists
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
[23, 50, 65, 82, 100]

In [9]:
#Sort Descending
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']
[100, 82, 65, 50, 23]

In [1]:
#Customize Sort Function
def myfunc(n):
    return abs(n - 50)

thislist = [100, 50, 65, 82, 23]

thislist.sort(key = myfunc)

print(thislist)

[50, 65, 23, 82, 100]

In [2]:
#Case Insensitive Sort
thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.sort()

print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [3]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.sort(key = str.lower)

print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [4]:
#Reverse Order
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

# Python - Copy Lists

In [5]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [7]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)   #the built-in method list()
print(mylist)

['apple', 'banana', 'cherry']

In [8]:
#Join Two Lists
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [9]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [10]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

# Python Tuples

In [12]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [13]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple)) #lenghth of tuple

3

In [14]:
#Create Tuple With One Item
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [16]:
#Tuple Items - Data Types
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple4 = ("abc", 34, True, 40, "male")

print(tuple1)
print(tuple2)
print(tuple3)
print(tuple4)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)
('abc', 34, True, 40, 'male')

In [17]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [18]:
#tuple() Constructor
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [24]:
#Access Tuple Items
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])
print(thistuple[:4])
print(thistuple[2:])
print(thistuple[1])
print(thistuple[-1])
print(thistuple[-4:-1])

('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange', 'kiwi', 'melon', 'mango')
banana
mango
('orange', 'kiwi', 'melon')

In [25]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [26]:
#Python - Update Tuples
#Change Tuple Values
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [28]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [29]:
#Add tuple to a tuple
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [30]:
#Remove Items
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

In [31]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [32]:
#Unpacking a tuple:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [33]:
#Using Asterisk*
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [34]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [35]:
#Python - Loop Tuples
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [36]:
#Loop Through the Index Numbers
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

In [37]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [38]:
#Join Two Tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [39]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Set

In [42]:
hisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [43]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [44]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
set4 = {"abc", 34, True, 40, "male"}
print(set1)
print(set2)
print(set3)
print(set4)

{'apple', 'banana', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}
{True, 34, 'male', 40, 'abc'}

In [45]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [46]:
#The set() Constructor
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

In [47]:
#Access Items
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

apple
banana
cherry

In [48]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [49]:
#Add Set Items
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'apple', 'banana', 'orange', 'cherry'}

In [50]:
#Add Sets
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'banana', 'pineapple', 'papaya', 'mango', 'cherry'}

In [51]:
#Add Any Iterable
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'apple', 'banana', 'orange', 'kiwi'}

In [52]:
#Remove Set Items
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana") #If the item to remove does not exist, remove() will raise an error.
print(thisset)

{'apple', 'cherry'}

In [53]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana") #If the item to remove does not exist, discard() will NOT raise an error.
print(thisset)

{'apple', 'cherry'}

In [57]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x) #ets are unordered, so when using the pop() method, you do not know which item that gets removed.
print(thisset)

apple
{'banana', 'cherry'}

In [58]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [59]:
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

In [60]:
#Loop Sets
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

apple
banana
cherry

In [61]:
#Join Two Sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'b', 2, 3, 'a', 'c'}

In [62]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
#Both union() and update() will exclude any duplicate items.
set1.update(set2)
print(set1)

{1, 'b', 2, 3, 'a', 'c'}

In [64]:
#Keep ONLY the Duplicates
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [65]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [66]:
#Keep All, But NOT the Duplicates
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'microsoft', 'banana', 'cherry'}

In [67]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'microsoft', 'banana', 'google', 'cherry'}

# Python Dictionaries

In [2]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(thisdict["brand"])

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford

In [4]:
#duplicates not allowed
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)
print(len(thisdict))

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
3

In [6]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

print(thisdict)
print(type(thisdict))

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}
<class 'dict'>

In [15]:
#Access Dictionary Items
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
y = thisdict.get("model")
a = thisdict.keys()
b = thisdict.values()
c = thisdict.items() #The items() method will return each item in a dictionary, as tuples in a list.
print(x,y)
print(a)
print(b)
print(c)

Mustang Mustang
dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [13]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()
y = car.values()
print(x)
print(y)#before the change

car["color"] = "white"

print(x) #after the change
print(y)

dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])
dict_keys(['brand', 'model', 'year', 'color'])
dict_values(['Ford', 'Mustang', 1964, 'white'])

In [18]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
    print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [26]:
#Change Dictionary Items
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)
thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [28]:
#Add Dictionary Items
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
thisdict.update({"color2": "green"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red', 'color2': 'green'}

In [31]:
#Remove Dictionary Items
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
thisdict.popitem() #remove last item
print(thisdict)

{'brand': 'Ford'}

In [33]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)
del thisdict
print(thisdict)

{'brand': 'Ford', 'year': 1964}

NameError: name 'thisdict' is not defined

In [34]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [42]:
#Loop Dictionaries
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
    print(x)

for x in thisdict:
    print(thisdict[x])

brand
model
year
Ford
Mustang
1964

In [48]:
for x in thisdict.values():
    print(x)
    
for x in thisdict.keys():
    print(x)
    
for x, y in thisdict.items():
    print(x, y)

Ford
Mustang
1964
brand
model
year
brand Ford
model Mustang
year 1964

In [50]:
#Copy Dictionaries
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

mydict1 = dict(thisdict)
print(mydict1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [53]:
#Nested Dictionaries
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [52]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}